openapi: 3.0.3
info:
  title: TravelSchedule API (subset for codegen)
  description: Урезанная спека под реально используемые эндпоинты и модели.
  version: 1.0.0
servers:
  - url: https://api.rasp.yandex.net/v3.0

tags:
  - name: Schedule
    description: Расписание между станциями (search)
  - name: Catalog
    description: Справочник станций (stations_list)
  - name: Carrier
    description: Информация о перевозчике

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: apikey

  schemas:
    Codes:
      type: object
      properties:
        yandex:
          type: string
        yandex_code:
          type: string
        iata:
          type: string
        icao:
          type: string
        sirena:
          type: string

    Carrier:
      type: object
      properties:
        code:
          type: integer
          format: int64
        title:
          type: string
        phone:
          type: string
        email:
          type: string
        url:
          type: string
        logo:
          type: string
        logo_svg:
          type: string
        address:
          type: string
        contacts:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'

    Thread:
      type: object
      properties:
        uid:
          type: string
        number:
          type: string
        title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        vehicle:
          type: string
        express_type:
          type: string
        transport_subtype:
          type: object
          properties:
            title:
              type: string
            color:
              type: string
            code:
              type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'

    Station:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        type:
          type: string
        transport_type:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        codes:
          $ref: '#/components/schemas/Codes'

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            type: object

    Detail:
      type: object
      properties:
        departure:
          type: string
        arrival:
          type: string
        start_date:
          type: string
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        arrival_platform:
          type: string
        departure_terminal:
          type: string
        arrival_terminal:
          type: string
        stops:
          type: string
        duration:
          type: integer

    Transfer:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        short_title:
          type: string
        type:
          type: string
        popular_title:
          type: string

    SearchMeta:
      type: object
      properties:
        date:
          type: string
          format: date
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
    Segment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        departure:
          type: string
        arrival:
          type: string
        duration:
          type: integer
        thread:
          $ref: '#/components/schemas/Thread'
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        has_transfers:
          type: boolean
        details:
          type: array
          items:
            $ref: '#/components/schemas/Detail'
        transfers:
          type: array
          items:
            $ref: '#/components/schemas/Transfer'
        departure_from:
          $ref: '#/components/schemas/Station'
        arrival_to:
          $ref: '#/components/schemas/Station'
        transport_types:
          type: array
          items:
            type: string

    SegmentsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        interval_segments:
          type: array
          items:
            type: object
        search:
          $ref: '#/components/schemas/SearchMeta'

    AllStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'

    Region:
      type: object
      properties:
        title:
          type: string
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'

    Settlement:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

security:
  - api_key: []

paths:
  /search/:
    get:
      tags: [Schedule]
      summary: Расписание между станциями
      operationId: getScheduleBetweenStations
      security:
        - api_key: []
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string }
        - name: to
          in: query
          required: true
          schema: { type: string }
        - name: date
          in: query
          required: true
          description: YYYY-MM-DD
          schema:
            type: string
            format: date
        - name: transport_types
          in: query
          required: false
          schema: { type: string }
        - name: transfers
          in: query
          required: false
          schema: { type: boolean }
        - name: lang
          in: query
          required: false
          schema:
            type: string
            default: ru_RU
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsResponse'

  /stations_list/:
    get:
      tags: [Catalog]
      summary: Полный справочник станций
      operationId: getStationsList
      security:
        - api_key: []
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
            default: ru_RU
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'

  /carrier/:
    get:
      tags: [Carrier]
      summary: Информация о перевозчике
      operationId: getCarrier
      security:
        - api_key: []
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: lang
          in: query
          required: false
          schema:
            type: string
            default: ru_RU
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'
